* {
  margin: 0;
  box-sizing: border-box 

}

body {
  background-color: #292929c7;
  color: whitesmoke;
  font-family: 'Courier Prime';
}

.name {
  text-decoration: none;
  font-size: 24pt;
  float: left;
}

.navbar {
  color: whitesmoke;
  background-color: #292929c7;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  height: 45px;
  text-align: center;
  a { 
    color: whitesmoke;
  } 
  li {
    list-style-type: none;
  }
}

.nav-item {
  float: right;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 20px;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
}
.nav-link.disabled {
color: #818a91; 
}
.nav-link.disabled, .nav-link.disabled:focus, .nav-link.disabled:hover {
  color: #56595c;
  cursor: not-allowed;
  background-color: transparent; 
}

.footer {
  position: absolute;
  bottom: 0px;
  color: rgb(0, 0, 0);
  background-color: #77777777;
  width: 100%;
  margin-top: 15px;
  padding-right: 40px;
  height: 3%;
  text-align: right;
  a { 
    color: whitesmoke;
  } 
  li {
    list-style-type: none;
  }
}

.footer-link {
  display: inline-block;
  list-style-type: none;
  padding: 10px;
  input {
    border: none;
  }
}

.login-container {
  background-color: #1d1d1d;
  color: whitesmoke;
  text-align: center;
}

.input {
position: relative;

&__label {
  position: absolute;
  left: 0;
  top: 0;
  padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
  margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * .5);
  background: pink;
  white-space: nowrap;
  transform: translate(0, 0);
  transform-origin: 0 0;
  background: var(--color-background);
  transition: transform 120ms ease-in;
  font-weight: bold;
  line-height: 1.2;
}
&__field {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 3px solid currentColor;
  padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
  color: currentColor;
  background: transparent;
  border-radius: var(--size-radius);
  
  &:focus,
  &:not(:placeholder-shown) {
    & + .input__label {
      transform: translate(.25rem, -65%) scale(.8);
      color: var(--color-accent);
      }
    }
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 544px) {
    .container {
      max-width: 576px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 940px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

.content-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}